@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
}

:root{
    --bg:#f2f7fb;
    --card-bg:#feffff;
    --primary:#3374da;
    --primary-hover:#2d62b8;
    --primary-gray:#bac1cb;
    --primary-gray-hover:#a1a7b1;
}

body{

    background: var(--bg);
}

header{
    width: 100%;
    height: 10vh;
    background: var(--card-bg);
    display: flex;
    border-bottom: #cbd0d4 solid 1px;
}

.header__img{
    width: 20%;
    overflow: hidden;
}

img{
    width: 600%;
    position: relative;
    right: 8px;
}
.header__nav, a{
    width: 80%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 15px;
    text-align: center;
    padding: 8px;
    gap: 2px;
}

.header__button{
    border-radius: 8px;
}


main{

    padding: 1.5rem 1rem ;
}
.plataformas{

    height: auto;
    background-color: var(--card-bg);
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    box-shadow: 2px 2px 2px var(--primary-gray);
}


.pasos{
    width: 90%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.pasos__grafico{
    background-color: var(--primary-gray);
    height: 10px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pasos__progreso{

    position: absolute;
    width: 25%;
    height: 10px;
    background-color: var(--primary);
    z-index: 1;
}
.paso__circle{

    width: 8%;
    height: 250%;
    border: 2px solid var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: white;
}

.circle_full{

    width: 80%;
    height: 80%;
    background-color: var(--primary);
    border-radius: 50%;
}

h2{

    margin-top: 2rem;
    margin-bottom: 1rem;
}

.plataforma__form{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.plataforma_checkbox{

    width: 100%;
    min-height: 275px;
    border-radius: 13px;
    border: solid 3px var(--primary-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    transition: 0.1s ease;
}

.check{
    width: 10%;
    align-self: flex-end;
    display: none;
}
.checkbox__img{

    width: 60%;
    margin-bottom: 10px;
}

.plataforma_checkbox:checked{

    border: solid 3px var(--primary);
}

.form__button_cancel, .form__button_next{

    width: 90%;
    height: 3rem;
    margin-top: 1rem;
    color: white;
    background-color: var(--primary-gray);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.form__button_next{


    background-color: var(--primary);
    margin-top: 1rem;
}

.form__enlaces{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    width: 82%;
    height: 30.5vh;
    position: absolute;
    z-index: 10;
   transition: 1s;
    
   opacity: 50%;
   border-radius: 10px;
   cursor: pointer;
   
}

.android__checkbox{
    margin-top: 77%;
}

.checkbox:checked+.plataforma_checkbox{
    border: 5px solid var(--primary);
    scale: 1.03;
}
.checkbox:checked+.plataforma_checkbox .check{
    display: flex;
    position: absolute;
    top: 5%;
}
.web__checkbox{
    margin-top: 155%;
}

@media (min-width:768px) and (max-width:1023px){

    header{
        
        height: 8vh;
    }

    img{
        width: 600%;
        position: relative;
        right: 10px;
        bottom: 8px;
    }

    .header__img{
        width: 10%;
        overflow: hidden;
    }

    .paso__circle{
    width: 4%;
    height: 250%;
    border: 2px solid var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: white;
    }

    .pasos{
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    .plataformas{
        margin-top: 5%;
    }
    .plataforma_checkbox{

        width: 48%;
        min-height: 350px;
        border-radius: 13px;
        border: solid 3px var(--primary-gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: 18px;
        text-align: center;
        transition: 0.1s ease;
    }

    .plataforma__form{
        width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    }

    .form__enlaces{
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .form__button_cancel, .form__button_next{
        width: 40%;
        height: 4rem;
    }

    .checkbox{
        
        appearance: none;
    width: 43%;
    height: 40vh;
    position: absolute;
    z-index: 10;
   transition: 1s;

    
   border-radius: 10px;
    }

    .android__checkbox{
        bottom: 20%;
        right: 5.9%;

    }

    .ios__checkbox{
        left: 5.9%;
        bottom: 20%;
    }

    .web__checkbox{
    bottom:  -21%;
    }

    .pasos__progreso{
        width: 28%;
    }
    main{
        padding: 2rem;
    }

    .plataforma__form{

        
        gap: 20px;
    }
}

@media (min-width:1024px){
    
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    header{
        width: 100%;
        height: 8vh;
        background: var(--card-bg);
        display: flex;
        border-bottom: #cbd0d4 solid 1px;
        
        justify-content: space-between;
    }


    .header__img img{
        width: 100%;
    }

    .header__nav, a{
        height: 100%;
        width: 40%;
        
        display: flex;
        margin-right: 4%;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        
    }
    .header__button{
        width: 40%;
        height: 3rem;
    }

    .plataformas{
        width: 85vw;
        height: 80vh;

    }

    .plataforma__form{

        width: 100%;
        height: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        

    }
    .plataforma_checkbox{
        width: 25%;
        height: 35vh;
        border-radius: 20px;

    }
    .form__enlaces{
        flex-direction: row;
        
    }

    .form__button_cancel, .form__button_next{
        width: 25%;
        height: 6vh;
        justify-self: center;
        
    }
    
    .form__button_cancel:hover{
        background-color: var(--primary-gray-hover);
    }

    .form__button_next:hover{
        background-color: var(--primary-hover);
    }
    .pasos__grafico{
        width: 70%;
    }
    .pasos__progreso{
        width: 18%;
    }
    .paso__circle{
        width: 2.6%;
    }

    h2{
        font-size: 3rem;
        margin: 2rem;
    }
    p{
        align-self: flex-start;
        margin-left: 15%;
    }
    .checkbox{
        
        width: 19%;
        height: 35%;

    }

    .ios__checkbox{
        top: 33%;
        left: 19.2%;
        
    }
.checkbox:hover+.plataforma_checkbox{
    scale: 1.05;
}
    .android__checkbox{
       bottom: 32%;
    }

    .web__checkbox{
        bottom: 32%;
        right: 19.2%;
    }
    .header__nav a:hover{
     text-decoration: underline;   
    }
}

